---
title: "syta.co signature"
preheader: "syta.co signature"
bodyClass: bg-white
containerClass: bg-white
---

<extends src="src/layouts/main.html">
    <block name="head">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css2?family=Montserrat&family=Electrolize&display=swap">
    </block>
    <block name="template">
        <table class="w-full font-sans" style="background-size: auto 100%;">
            <tr>
                <td class="align-bottom min-w-14 max-w-24">
                    <table class="w-full border-0">
                        <tr>
                            <td class="">
                                <img src="images/circuit.png" alt="right border" width="85" class="max-w-full align-middle [border:0]">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="images/left.png" alt="linkedin icon" width="24" class="inline-block max-w-full align-middle [border:0]">
                                <table class="inline-block align-bottom ">
                                    <tr>
                                        <td>
                                            <img src="images/top1.png" alt="top icon" width="24" class="max-w-full align-middle [border:0]">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="https://www.linkedin.com/in/sytabaresa">
                                                <img src="images/linkedin.png" alt="linkedin icon" width="32" class="max-w-full align-middle [border:0]">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="https://github.com/sytabaresa">
                                                <img src="images/github.png" alt="github icon" width="32" class="max-w-full align-middle [border:0]">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="https://twitter.com/sytabares">
                                                <img src="images/twitter.png" alt="twitter icon" width="32" class="max-w-full align-middle [border:0]">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="images/bottom.png" alt="bottom wire" height="8" class="block w-full h-2 align-middle [border:0]">
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="align-bottom">
                    <table class="w-full border-none">
                        <tr>
                            <td align="left" class="h-[200px]">
                                <component src="src/components/desc.html" class="inline-block align-middle">
                                </component>
                                <table class="w-16 h-2 inline-block"></table>
                                <component src="src/components/email.html" class="inline-block align-middle pl-4">
                                </component>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-bottom">
                                <img src="images/bottom.png" alt="bottom wire" height="8" class="w-full h-2 pt-4 align-middle [border:0]">
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="right" class="align-bottom w-[142px]">
                    <a href="https://syta.co?q=vnpgXKD7BXB8aAeE">
                        <img src="images/right-style.png" alt="right logo" width="142" class="max-w-full align-middle [border:0]">
                    </a>
                </td>
            </tr>
        </table>
    </block>
</extends>