<table class="{{class}}">
    <tr>
        <td>
            <!-- <a href="https://syta.co"> -->
            <table class="w-full">
                <tr>
                    <td align="center" class="font-sans text-base text-sm align-bottom uppercase">
                        <img src="images/logo-short.png" width="100" alt="Sebastian Tabares logo" class="block max-w-full align-middle [border:0] mb-1 mt-4">
                        <span class="no-underline">Sebastian</span>
                        <span class=" font-bold tracking-wider">Tabares</span>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
            <!-- </a> -->
        </td>
    </tr>
    <tr>
        <td class="font-bold text-center text-md text-base uppercase py-2">
            SW/HW Engineer
        </td>
    </tr>
</table>