<table class="font-mono {{class}}">
    <tr>
        <td class="text-base">
            <img src="images/mail.png" alt="mail icon" width="18" class="max-w-full align-middle [border:0] mr-2">
            <a href="mailto:me@syta.co" class="text-sm visited:text-inherit text-inherit no-underline">me@syta.co</a>
        </td>
    </tr>
    <tr>
        <td class="text-base">
            <img src="images/web.png" alt="mail icon" width="18" class="max-w-full align-middle [border:0] mr-2">
            <a href="https://syta.co?q=vnpgXKD7BXB8aAeE" class="text-sm visited:text-inherit text-inherit no-underline">syta.co</a>
        </td>
    </tr>
</table>