<table class="font-mono {{class}}">
    <tr>
        <td>
            <img src="images/mail.png" alt="mail icon" width="32" class="max-w-full align-middle [border:0] mr-2">
            <a href="mailto:me@syta.co" class="visited:text-contrast text-contrast no-underline">me@syta.co</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="images/web.png" alt="mail icon" width="32" class="max-w-full align-middle [border:0] mr-2">
            <a href="https://syta.co" class="visited:text-contrast text-contrast no-underline">syta.co</a>
        </td>
    </tr>
</table>